<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yordy.ecoresi">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher"  android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="com.yordy.ecoresi.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_registro" android:name="com.yordy.ecoresi.activities.RegistroActivity" android:parentActivityName="com.yordy.ecoresi.activities.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.yordy.ecoresi.activities.LoginActivity" />
        </activity>
        <activity
            android:theme="@style/AppThemeHome"
            android:label="@string/title_activity_home"
            android:name="com.yordy.ecoresi.activities.NavDrawerActivity" />
        <activity
            android:theme="@style/AppThemeHome"
            android:label="@string/title_activity_home"
            android:name="com.yordy.ecoresi.activities.HomeActivity" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
